@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
*{
padding:0px;
margin: 0px;
box-sizing: border-box;
}
html {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
overflow-x:hidden;
}
*, *:before, *:after {
-webkit-box-sizing: inherit;
-moz-box-sizing: inherit;
box-sizing: inherit;
}

.404-image{
	width: 100%;
	min-height: 200px;
	margin: 0px;
	padding: 0px;
	position: relative;
}
.wrapper{
width: 100%;
position: relative;
height: auto;
margin: 0px;
padding: 0px;
padding: 20px 40px;
transition:transform 0.6s ease;

-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
}
/*FOOTER STYLING*/
footer{
width:100%;
min-height: 180px;
background-color:#333;
position: relative;
transition:transform 0.6s ease;

bottom: 0px;
padding: 40px;
left: 0px;
display: block;
right:0px;
clear: both;
font-size: 16px;
}
footer span{
display: block;
margin:0px auto;
text-align: center;
color: #fff;
line-height:90px;

}

.social-i{
	line-height: 90px;
}

.fa {

padding: 1.5em;
width:30px; /** fix width ***/
margin: 0.4em 0.7em;
text-align: center;
display: inline;
border-radius: 60%;
font-size: 1em !important;
cursor: pointer;

border: 1px solid #FCC8B2;

}

footer a{
	color: #FCC8B2;
	text-decoration: none;
}
footer a:hover{
text-decoration: none;
color: #FCC8B2;
}

body{
font-family: 'Montserrat', sans-serif;
font-size: 16px;
overflow-x:hidden;
margin: 0px;
letter-spacing: 1.5px;
line-height: 1.3;

}
h1{
font-size: 48px;
font-weight: 800;
color:#EFA48B;
}
h2{
font-size: 36px;
font-weight: 800;
color:#EFA48B;
}
h3{
font-size: 24px;
font-weight: 800;
color:#EFA48B;
}
h4{
font-size: 22px;
font-weight: 800;
color:#EFA48B;
}
h5{
font-size: 18px;
font-weight: 800;
color:#EFA48B;
}
h6{
font-size: 16px;
font-weight: 800;
color:#EFA48B;
}
/*HEADER STYLING*/
header{
margin: 40px 0px;
}
/*NAV STYLING*/
ul, li{
list-style-type: none;
list-style: none
}
nav{
position: fixed;
z-index: 1000;
top: 0px;
left: 0px;
right: 0px;
overflow: hidden;
width:100%;
height: 100%;
background-color:#FCC8B2;
-webkit-overflow-scrolling: touch;
-webkit-transform: translateX(100%);
-moz-transform: translateX(100%);
-ms-transform: translateX(100%);
-o-transform: translateX(100%);
transform: translateX(100%);
transition:transform 0.6s ease;
}

/*FORM STYLING*/

.myform{
	margin: 40px 0px;
}

.make-post{
	margin-bottom: 40px;
}


.myform label
{
   margin-bottom: 15px;
   font-size: 14px;
}

.myform .form-control{

	padding: 20px;
 background-color: transparent;
	border:2px solid #000;
	transition:border 0.4s ease;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-btn{
	padding: 20px;
	border: 2px solid #000;
	text-align: center;
	font-size: 16px;
	color: #000;
	background-color:#fff;
}


}
/*END FORM STYLING*/
.eli-main{
transform:translateX(0);
transition:transform 0.6s ease;

}

.eli-main span{
	margin-right:0.2em;
}
.menu{
list-style: none;
margin-top: 100px;
}
.menu li a{
text-decoration: none;
display: block;
text-align: center;
color:#fff;
padding: 20px 0;
transition:background-color 0.6s ease;
}
.menu li a:hover{
background-color: #333;
}
.nav-toggle-btn{
display: block;
position: fixed;
right: 0px;
top: 0px;
margin: 20px 40px;
width: 40px;
height: 40px;
background-color: #333;
z-index: 9999;
}
.eli-line{
width: 20px;
height: 2px;
background-color: #fff;
margin:8px auto;
color: #fff;
display: block;
text-align: center;
}
.nav-toggle-btn span:nth-child(2){
width: 13px;
}
.active-nav nav{
transform: translateX(0);
transition:transform 0.6s ease;
-webkit-transform: translateX(0);
}
.active-nav .eli-main{
transform:translateX(-104%);
transition:transform 0.6s ease;
}
/*END NAV STYLING*/
.hero{
width: 100%;
background-position: center center;
position: relative;
background-color: #685369;
background: url('../img/hero.jpg')no-repeat no-repeat;
background-size: cover;
}
.hero:before{
position:absolute;
top:0px;
left:0px;
bottom:0px;
right:0px;
content: '';
background-color: rgba(104,83,105,0.9);
}
.hero:after{
position:absolute;
top:0px;
left:0px;
bottom:0px;
right:0px;
}
header{
padding: 140px 0px 110px 100px;

}
header h1{
font-size: 72px;
color: #fff;
padding: 0px 0px 30px;
text-align: left;
}
/*header.animated {
-webkit-animation-duration: 1.8s;
animation-duration: 1.8s;
}*/
header p{
text-align: left;
color: #fff;
font-size: 24px;
width: 800px;
}
header span{
margin: 60px 0px;
display: inline-block;
font-size: 24px;
text-align: center;
transition:0.6s ease;
border: 2px solid #fff;
padding: 20px;
position: relative;
}

.head-span{
	width: 800px;
}
#left-head-but{
margin-left: 40px;
}
header span:hover{
background-color: #FFF;
transition:0.4s ease;
}
header span a{
color: #fff;
text-decoration: none;
}
header span a:hover{
color: #000;
text-decoration: none;
}
/*END OF HEADER*/
.about{
width:100%;
min-height: 300px;
background-color: #FCC8B2;
padding-bottom: 40px;
padding: 30px;
transform-style: preserve-3d;
transform: perspective(800px);
transition:transform 0.6s ease;
}
.about h1{
text-align: center;
padding: 40px 0px 120px;
color:#fff;
}
.about i{
font-size: 56px;
color: #fff;
text-align: center;
display: block;
margin-bottom: 40px;
}
.about p{
color: #fff;
word-wrap: break-word;

transition: all 0.8s ease;
}
.eli-sec{
margin-bottom: 50px;
}

.eli-sec p{
	text-align: center;
}
/*.about:nth-child(1) div.col-md-4 {
transition-delay: 0.08s;
}*/
.eli-sec.hidden h3 {
opacity: 0;
transform: translate3d(0, 0, 400px) rotateY(-40deg);
}
.eli-sec.hidden p {
opacity: 0;
transform: translate3d(0, 0, 400px) rotateY(40deg);
}
.about h3{
text-align: center;
color: #fff;
margin-bottom: 20px;
}


.dashboard{
	width:100%;
	min-height: 600px;
	background-color:rgba(238,238,238,.35);
	transition:transform 0.6s ease;
}

.dashboard h1{
	padding: 30px 0px;
}

.dashboard h4{
	padding: 30px 0px;
}

/*sec 2 */
.sec-2{
width:100%;
height:auto;
position: relative;
margin: 0px;
padding: 0px;
}
.box-left{
width: 40%;
position: relative;
margin: 0px;
min-height: 600px;
display: block;
float: left;
background-color: rgb(104,83,105);
}
.box-left h1{
color: #fff;
margin: 30px;
}
.box-left p{
margin: 20px;
color: #fff;
line-height: 36px;
}
.mybtn{
display: inline-block;
font-size: 24px;
margin: 0px 10px;
text-align: center;
transition:0.6s ease;
border: 2px solid #fff;
padding: 20px;
position: relative;
}

.mybtn2{
	display: inline-block;
font-size: 16px;
margin: 0px;
background: transparent;
text-align: center;
transition:0.6s ease;
border: 2px solid #333;
padding: 20px;
position: relative;
}

.mybtn2:focus{
	outline:none;

}
.post{
	margin-bottom: 50px;
}

.post-bod{
	margin: 0px;
	white-space: nowrap;
    overflow:auto;
}

.post .post-bod{
	padding-bottom: 30px;
	padding-top: 30px;

}

textarea.form-control{
	border: none;
	padding: 20px;
	outline: none;
	transition: outline 0.2s ease;
}

textarea.form-control:focus{
	outline: 2px solid #FCC8B2;
	transition: outline 0.2s ease;
}

.mybtn:hover{
background-color: #FFF;
transition:0.4s ease;
}
.mybtn a{
color: #fff;
}
.mybtn a:hover{
color:#000;
text-decoration: none;
}
/*box-right*/
.box-right{
width: 60%;
position: relative;
margin: 0px;
min-height: 600px;
padding:20px;
float: left;
overflow-x:hidden;


position: relative;
background: url('../img/owls2.jpg')no-repeat no-repeat;
background-size: cover;
image-rendering: -webkit-optimize-contrast;
image-rendering: optimize-contrast;
display: table;
}

.box-right{
	border-left:3px solid #000;
}

.box-right:before{
position:absolute;
top:0px;
left:0px;
bottom:0px;
right:0px;
content: '';
transition: ease 0.4s;
background-color: rgba(252,200,178,0.8);

}
.box-right:after{
position:absolute;
top:0px;
left:0px;
bottom:0px;
right:0px;
}


.box-right h1{
color: #fff;
margin: 0px;
padding: 20px;
text-align: center;

z-index: 9999;
transition: ease 0.4s;

}


.box-right p{
padding: 0px 30px;
color: #fff;
padding: 0px;
line-height: 36px;
word-wrap: break-word;
}


#post-body{
white-space: pre-wrap;
	max-width: 100%;
	width: 100%;
	margin-top: 10px;
	height: auto;

    overflow:auto;
}

.line{
	width: 50px;
	height: 1px;
	background-color: #333;
	display: block;
	margin: 20px auto;
}

.about2{
	width: 100%;
	min-height: 400px;
	background-color: #fff;
	transition:transform 0.6s ease;
}

.about2 h1{
	text-align: center;
	padding: 30px;

}



/*FLEXBOX*/

.about2 section{
	padding: 30px 0px;
	max-width: 1440px;
  margin: 0 auto;
    display: flex;
}

.column {
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
.column p{
	line-height: 34px;
}
.column h3{
	padding: 30px 0px;
}

.about2 section:first-of-type .column:first-of-type {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 0;
}

@media only screen and (max-width: 908px) {

header{
	padding: 20px;
	margin: 0px;

}
.about2 section{
 display: grid;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
}

.column {
	display: block;
min-width: 280px;
	flex: 1 0 280px;
}

.about2 section:first-of-type .column:first-of-type{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
    flex-wrap: wrap;
  min-width: 180px;

}
.head-span{
	width: 100%;
}
header h1{
font-size: 42px;
text-align: center;
padding: 20px;
}

header p{
	text-align: center;
	width: 100%;
}

header span{
	display: block;
	font-size: 24px;

}


}